/*default padding and margin set to 0*/
*{
    margin: 0;
    padding: 0;
}

/* for styling bosy background */
body{
    background-color: cyan;
    margin-left: 20%;
    margin-right: 20%; 
}

/*styling header content*/
header{
    background-color: rgb(56, 162, 204);
    padding: 10px;
}

/* for all questions */
.question{
    margin: 2.5%;
    font-size: 17px;
    padding: 1%;
    background-color: rgb(37, 245, 245);;
}

section{
    background-color: white;
    padding: 30px;
    z-index: 0;
}

/*for coloring the stars on mandatory*/
.red-span{
    color: blue;
}

/*styling imojis*/
.imojis{
    border: none;
    background: transparent;
    font-size: 2em;
}

/*changing the deafult outlining to blue color*/
input:focus,textarea:focus,select:focus{
    outline-color: rgb(24, 214, 214);
}

/*selecting font size*/
input,select{
    font-size: 17px;
}

/*styling placeholders for input*/
textarea::placeholder,input::placeholder{
    color:rgb(25, 207, 207);
}
#div-buttons{
    text-align: center;
}
#submit,#reset{
    color: white;
    background-color: rgb(56, 162, 204);
    border: 1px solid white;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

/*STYLING CONTENT AFTER SUBMIT*/
#after-submit
{
    background-color: white;
    margin: auto;
    padding: 2%;
    width: 50%;
    text-align: center;
}
#modal{
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1%;
    position:fixed;
    z-index: 1;
    padding-top: 270px;
}
#cross{
    float:right;
}
#cross:hover{
    color: red;
}

/*STYLING FOOTER*/
footer
{
    text-align: center;
    padding: 10px;
    background-color: rgb(56, 162, 204);
}
/*BREAKPOINTS*/
/*small*/
@media screen and (max-width: 767px)
{
    body
    {
        margin: 2%;
    }
    body{
        background-color: rgb(56, 162, 204);
    }
    .inline{
        display: inline;
    }
}

/*tablets*/
@media (min-width: 768px) and (max-width: 991px)
{

}

/*tablets/desktops*/
@media (min-width: 992px) and (max-width: 1199px)
{

}

/*extra large*/
@media screen and (min-width: 1200px)
{
    
}